body {
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
}

.chart {
  background-color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.circle {
  cursor: pointer;
}

.chart-title {
  font-size: 22px;
  font-weight: 200;
}

.chart-label {
  font-weight: 500;
}

.chart-legend-label {
  font-size: 13px;
}

.red {
  fill: #EF5350;
}

.blue {
  fill: #3F51B5;
}

.chart-tooltip {
  max-width: 200px;
  height: auto;
  background: rgb(255, 255, 255);
  z-index: 10;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  display: block;
  border-radius: 2px;
  pointer-events: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
